.style-switcher{
    position: fixed;
    right: 0px;
    top: 20px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
    padding: 15px;
    border-radius: 5px;
    z-index: 101;
    transition: all 0.2s ease-in;
    transform: translateX(100%);
}

.style-switcher.open{
    transform: translateX(-25px);
}

.style-switcher .s-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.style-switcher .s-icon i{
    line-height: 40px;
}

.style-switcher .day-night{
    top: 55px;
}
.style-switcher .style-switcher-toggler{
    top: 0px;
}

.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}


.style-switcher .colors{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.style-switcher .colors span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.style-switcher .colors .color-1{
    background-color: #ec1839;
}

.style-switcher .colors .color-2{
    background-color: #fa5b0f;
}
.style-switcher .colors .color-3{
    background-color: #37b182;
}
.style-switcher .colors  .color-4{
    background-color: #1854b4;
}
.style-switcher .colors  .color-5{
    background-color: #f021b2;
}